<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script type="text/javascript">
      (function () {
        var css = document.createElement("link");
        css.href = "https://use.fontawesome.com/releases/v5.1.0/css/all.css";
        css.rel = "stylesheet";
        css.type = "text/css";
        document.getElementsByTagName("head")[0].appendChild(css);
      })();
    </script>
    <!-- Bootswatch(SandStone) Bootstrap Theme CDN -->
    <link
      rel="stylesheet"
      href="https://bootswatch.com/4/sandstone/bootstrap.min.css"
    />
    <title>Document</title>
  </head>
  <body>
    <main id="layout-main"><%- body %></main>
  </body>
</html>
